# Logs
logs
*.log
npm-debug.log*

# dist folders
es/
dist/

# Coverage directory used by tools like istanbul
coverage

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# JetBrains
.idea

.env